
body {
    font-family: montserrat;
}

nav.navbar {
    z-index: 0;
}

.brand-logo {
  width: 200px;
}

.btn {
    border-radius: 50px;
    font-size: 14px;
    font-weight: bolder;
    margin-left: 10px;
}

.iniciar {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.o {
    margin: auto 10px;
    color: #8d9199;
}

.lupa {
    font-size: 37px;
    margin-left: 120px;
    color: white;
    margin-right: -150px;
}

.logos {
    width: 26px;
    margin-left: 10px;
    margin-top: 4px;
}


.descripcion {
    margin-top:75px;
    background-image: url(../images/descripcion.jpg);
    background-size: cover;
    height: 240px;
    text-align: center;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    position: static;
}

.date {
    padding-top: 55px;
}

.nav-item {
    font-weight: bolder;
}

.nav-item:hover {
    color: white;
}

.section-na {
    padding: 20px;
    position: sticky;
}

.abajo {
    color: black;
    margin: auto 20px;
    font-weight: bolder;
    text-decoration: none;
}

.publicacion {
    box-sizing: border-box;
    transition: transform .2s;
}

.publicacion img {
  width: 100%;
  width: 330px;
  height: 220px;
  border-radius: 5px;
  margin-top: 30px;
  justify-content:center;
}

.publicacion:hover {
    transform: scale(1.1);
}

.publicaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    color:white;
    font-weight: bolder;
    font-size: 75px;
}

.copy {
    color: white
}
