div.header-container div img {
    display: none;
}

div.header-container h1 {
   text-align: center;
   margin: 10px auto;
}

h2.register{
    font-size: 16px;
}

h2.header-desktop {
    display: none;
}

body {
    background-color: #e8eaed;
    font-family: montserrat;
}

form {
    margin-top: 30px;
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    form {
        margin: 20px auto;
        width: 50%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    form {
        margin: 20px auto;
        width: 50%;
    }
}

@media (min-width: 1281px) {
    body {
        font-family: 'Montserrat', sans-serif;
        background-image: url("../images/desert.jpg");
        background-repeat: no-repeat;
    }
    
    div.header-container {
        position: absolute;
        top: 45vh;
        left: 22%;
        color: #fff;
    }
    
    form {
        padding: 2%;
        position: absolute;
        right: 20%;
        top: 50px;
        border-radius: 1.5%;
        width: 25%;
        background-color: #fff;
    }
    
    label.labels {
        margin-bottom: 0px;
        font-size: 12px;
    }
    
    p.subtitle {
        font-size: 12px;
        margin-bottom: 4px;
    }
    
    div.form-row {
        margin-bottom: 10px;
    }
    
    h2.header-desktop {
        display: inline-block;
    }
    
    div.header-container div img {
        display: inline-block;
        box-sizing: border-box;
        width: 50px;
    }
    
    div.header-container div {
        display: inline;
    }
    
    section.form-section div {
        background-color: #fff;
    }
}