/**** ACA EMPIEZA EL CSS DEL LOGIN ****/

.bloque-inicio {
  margin: auto;
  font-family: Montserrat;
}

.inicia {
 margin-top: 20px;
 font-size: 12px;
 margin-bottom: 0px;
}

.btn-login {
    border-radius: 100px;
    padding: 8px 23px;
    font-size: 15px;
    margin-top: 30px;
  }

.form-check-label {
   font-size: 12px;
}

.miembro {
  margin-top: 30px;
    font-size: 20px;
}

.empresa {
  margin-top: 20px;
    font-size: 20px;
}

.logos-login {
  width: 40px;
  margin-left: 20px;
}

.h2Login {
  font-size: 15px;
}

.h1Login {
  font-weight: bolder;
  margin-bottom: 30px;
}

.container-login{
    margin-top: 80px;
}

a:hover{
    text-decoration: none!important;
    color: #e0e0e0;
}

/**** ACA EMPIEZA EL CSS DEL PERFIL ****/

div.descripcion-perfil ul a {
  text-decoration: none;
  color: #2b2b2b;
}

.descripcion-perfil {
  margin-top:95px;
  background-size: cover;
  height: 240px;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
}

.profile-image {
  width: 110px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  border-color: #fff;
  border-style: solid;
  border-width: 8px;
  text-align: center;
}

.avatar-info {
  list-style: none;
  text-align: center;
  margin-left: -30px;
}

ul.fol-mes-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -30px;
  margin-top: 50px;
}

.seguir {
  font-family:  'montserrat',sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background: rgb(2,31,158);
  background: linear-gradient(90deg, rgba(2,31,158,1) 0%, rgba(0,206,255,1) 100%);
  border: 1px solid rgba(0,206,255,0.8);
  border-radius: 50px;
  display: block;
  padding: 8px 15px;
  margin-right: 10px;
  width: 140px;
}

.mensaje {
  font-family: 'montserrat',sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #fff;
  border: 1px solid #A09E9E;
  color: #2b2b2b;
  border-radius: 50px;
  display: block;
  padding: 8px 15px;
  width: 140px;
  margin-right: 10px;
}

.h3-perfil {
  text-align: center;
}

.location-icon {
  height: 13px;
  fill: #0057ff;
}

.navItemPerfil {
  font-weight: bolder;
}

.navItemPerfil:hover {
  color: white;
}

.section-na-perfil {
  padding: 20px;
  position: sticky;
}

.publicacion-perfil img {
  width: 100%;
  width: 330px;
  height: 220px;
  border-radius: 5px;
  margin-top: 30px;
  justify-content:center;
}

.publicacion-perfil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.publicacion-perfil:hover {
    transform: scale(1.1);
}

/**** ACA EMPIEZA EL CSS DEL REGISTRO ****/

.register-form {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
}

div.div-reg-container {
  background-image: url(../images/desert.jpg);
}

div.header-container div img {
  display: none;
}

div.header-container h1 {
 text-align: center;
 margin: 10px auto;
}

@media (min-width: 1281px) {
  .register-form {
    width: 40%;
  }
}

/**** ACA EMPIEZA EL CSS DEL FOOTER GENERAL ****/

.footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: #2a2c2e;
    width: 100%;
}

.footer-li {
    list-style: none;
    list-style-type: none;
}

.footer-a {
    text-decoration: none;
    color: #fff;
}

.footer-a:hover {
    color: #f0f0f0;
    text-decoration: none;
}

footer.page-footer {
    margin-top: 30px;
    background-color: #2a2c2e;
}

p.footer-text {
    color: #fff;
}

h6.footer-h6 {
    color: #fff;
}